body {
    background-color: #EEECED!important;
    background-image: url('../components/Images/BlacknWhiteNew.png')!important;
    background-size: cover;
    background-repeat:  no-repeat;
    
    
}